
	{% extends "admin/layout.html.twig" %}

	 {% block title %}Media{% endblock %}



			     {% block content %}

  			
  			<div class="content-box-large">
  				<div class="panel-heading">
					<div class="panel-title">	<h1>Modifier un utilisateur</h1></div>
          <span class="pull-right"><a class="btn btn-default btn-sm" href="{{ path('admin_users') }}">Annuler</a></span>
				</div>
       
  				<div class="panel-body">
             {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
          {{ flashMessage }}
        </div>
      {% endfor %}
  					{{form_start(form)}}
                    {{form_errors(form)}}
                  <fieldset>
                    <div class="form-group">
                      {{form_label(form.username)}}
                      {{form_errors(form.username)}}
                      {{form_widget(form.username,{'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="form-group">
                      {{ form_label(form.password.first)}}
                    {{ form_errors(form.password.first) }}
                  {{ form_widget(form.password.first, { 'attr':  {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                      {{ form_label(form.password.second)}}
                    {{ form_errors(form.password.second) }}
                  {{ form_widget(form.password.second, { 'attr':  {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                      {{form_label(form.file)}}
                      {{form_errors(form.file)}}
                      {{form_widget(form.file,{'attr':{'class':'form-control'}})}}
                    </div>

                    <div class="form-group">  
           {{ form_label(form.mail, null, { 'label_attr': { 'class': '' }}) }}
           {{ form_errors(form.mail) }}
                  {{ form_widget(form.mail, { 'attr':  {'class': 'form-control' }}) }}
          </div>
  <div class="form-group">  
          {{ form_label(form.role, null, { 'label_attr': { 'class': '' }}) }}
           {{ form_errors(form.role) }}
                  {{ form_widget(form.role, { 'attr':  {'class': 'form-control' }}) }}
</div>                    
                  </fieldset>
                  <div>
                    
                      <input type="submit" value="Valider" class="btn btn-primary" > 
                  </div>
                {{form_end(form)}}

  					
  				</div>

  			</div>

 </div>
  			
{% endblock %}


