
	{% extends "admin/layout.html.twig" %}

	 {% block title %}Article{% endblock %}



			     {% block content %}

  			
  			<div class="content-box-large">
  				<div class="panel-heading">
					<div class="panel-title">	<h1>Modifier l'article</h1></div>
          <span class="pull-right"><a class="btn btn-default btn-sm" href="{{ path('articles') }}">Annuler</a></span>
				</div>
  				<div class="panel-body">
  					{{form_start(editForm)}}
                    {{form_errors(editForm)}}
                  <fieldset>
                    <div class="form-group">
                      {{form_label(editForm.title)}}
                      {{form_errors(editForm.title)}}
                      {{form_widget(editForm.title,{'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="form-group">
                      {{form_label(editForm.description)}}
                      {{form_errors(editForm.description)}}
                      {{form_widget(editForm.description,{'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="form-group">
                      {{form_label(editForm.file)}}
                      {{form_errors(editForm.file)}}
                      {{form_widget(editForm.file,{'attr':{'class':'form-control'}})}}
                    </div>
                    
                  </fieldset>
                  <div>
                    {{form_widget(editForm.save,{'attr':{'class':'btn btn-success'}})}}
                  </div>
                {{form_end(editForm)}}

  					
  				</div>

  			</div>

 </div>
  			
{% endblock %}


