{% extends "public_layout.html.twig" %}

	 {% block title %}Actualités{% endblock %}


 {% block content %}
<section class="section section-tertiary section-no-border pb-md mt-none">
					<div class="container">
						<div class="row mt-xl">
							<div class="col-md-10 col-md-offset-2 pt-xlg mt-xlg align-right">
								<h1 class="text-uppercase font-weight-light mt-xl text-color-primary">Nos projets</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row mb-xl">

				 {% for article in articles %}
						<div class="col-md-6">
							<div class="recent-posts mt-xl mb-xl">
								<a href="demo-construction-blog-detail.html">
									 {% set img_base = '/scimapimmo/web/img/articles/' %}
					    <img class="img-responsive pb-md" src= " {{img_base}}{{article.image }}"  alt="">
									
								</a>
								<article class="post">
									<div class="date">
										<span class="day">{{ article.createdAt | date('d') }}</span>
										<span class="month">{{ article.createdAt | date('M') }}</span>
									</div>
									<h4 class="pt-md pb-none mb-none"><a class="text-color-dark" href="demo-construction-blog-detail.html">{{ article.title }}</a></h4>
									<p>{{ article.description }}</p>
									<p></p>
									
								</article>
							</div>
						</div>
				 {% endfor %}

					</div>

				</div>
 {% endblock %}