{% extends "public_layout.html.twig" %}

	 {% block title %}Notre entreprise{% endblock %}


 {% block content %}
 <section class="section section-tertiary section-no-border pb-md mt-none">
					<div class="container">
						<div class="row mt-xl">
							<div class="col-md-10 col-md-offset-2 pt-xlg mt-xlg align-right">
								<h1 class="text-uppercase font-weight-light mt-xl text-color-primary">Notre entreprise</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row pt-sm">
						<div class="col-md-3">
							<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

								<ul class="nav nav-list mb-xl show-bg-active">
									<li><a data-hash data-hash-offset="110" href="#who-we-are">Mot du direteur</a></li>
									<li><a data-hash data-hash-offset="110" href="#history">Presentation</a></li>
									<li><a data-hash data-hash-offset="110" href="#mission-vision">Nos Valeurs</a></li>
									<li><a data-hash data-hash-offset="110" href="#leadership">Notre equipe</a></li>
									<li><a data-hash data-hash-offset="110" href="#partners">Partenaires</a></li>
								</ul>

							</aside>
						</div>
						<div class="col-md-9">

							<section id="who-we-are" class="mb-xlg">
								<div class="nivo-slider mt-md pb-xl">
									<div class="slider-wrapper theme-default">
										<div id="nivoSlider" class="nivoSlider mt-none mb-xlg">
											<img src="{{asset('img/demos/construction/slides/slide-construction-small-1.jpg')}}" data-thumb="{{asset('img/demos/construction/slides/slide-construction-small-1.jpg')}}" alt="" />
											<img src="{{asset('img/demos/construction/slides/slide-construction-small-2.jpg')}}" data-thumb="{{asset('img/demos/construction/slides/slide-construction-small-2.jpg')}}" alt="" />
											<img src="{{asset('img/demos/construction/slides/slide-construction-small-3.jpg')}}" data-thumb="{{asset('img/demos/construction/slides/slide-construction-small-3.jpg')}}" alt="" />
											<img src="{{asset('img/demos/construction/slides/slide-construction-small-4.jpg')}}" data-thumb="{{asset('img/demos/construction/slides/slide-construction-small-4.jpg')}}" alt="" />
										</div>
										<div id="htmlcaption" class="nivo-html-caption"></div>
									</div>
								</div>

								<h2 class="mb-none text-color-dark">Mot du directeur</h2>

								<div class="row">
									<div class="col-md-12">
										<img class="pull-left img-responsive mr-lg mb-md mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0" width="200" src="{{asset('img/team/team-31.jpg')}}" alt="">
										<p class="mt-lg">La population africaine va plus que tripler au cours 
										des 40 prochaines années, tel est le constat d’ONUHABITAT dans son rapport 
										2010 sur l’État des Villes Africaines : ‘‘Gouvernance, inégalité et marché fonciers’’. Selon plusieurs études et statistiques sur la question, le continent africain connaîtra en effet un processus de peuplement très soutenu durant les prochaines décennies. Une croissance démographique qui va inévitablement s’accompagner d’une forte urbanisation des villes qui a déjà commencée par ailleurs.
										L’Afrique est donc à ce jour le continent où la croissance urbaine est la plus 
										forte. Le nombre de ses citadins est en constante augmentation (de l’ordre de 
										5% à 7 % par an, un rythme deux fois plus rapide que sa population totale).</p>
										<p class="mt-lg">
										En Côte d’Ivoire, la population ivoirienne estimée à près de 22 millions 
										d’habitants avec un taux moyen de croissance démographique de 3,5% 
										l’an, connait une explosion démographique forte. Conséquences, le déficit 
										en logements et le coût mensuel excessif des loyers constituent un problème crucial avec la forte concentration des populations dans les grandes villes, phénomène dû en partie à la crise. Résultats : les Ivoiriens semblent être condamnés à payer à vie des loyers souvent excessifs sans aucune perspective d’accéder à leur propriété. Dans ces conditions, se loger en Côte d’Ivoire est devenu presque mission impossible à cause de la spéculation foncière entre autres, les prix des loyers et des terrains ou des logements devenant de plus en plus élevés. De nombreux investisseurs, qu’ils soient publics ou privés, locaux ou étrangers, semblent de ce fait bien déterminés à profiter de l’émergence de ce marché immobilier doté véritablement d’un très fort potentiel, ce qui leur laisse entrevoir des gains colossaux.
										Cependant, petite lueur d’espoir en 2010 où l’Etat ivoirien a décliné un 
										autre programme d’habitat relativement accessible à une partie importante de la population. Toutefois, des  difficultés  subsistent  toujours.  Le 
										coût élevé des différentes conditionnalités : souscription, apport initial, 
										taux de prélèvement mensuel compliquent l’accessibilité de ces logements pour la grande majorité des ivoiriens. Constat, les ivoiriens cherchent 
										aujourd’hui encore des conditions souples et moins stressantes pour se 
										loger ou avoir leur propre propriété.</p>
										<p class="mt-lg">
										C’est dans ce contexte qu’intervient avec une belle évidence la SCIMAP HOLDING SA avec  sa  filiale  Immobilière pour donner aux ivoiriens une opportunité unique d’avoir un « chez eux ». Construire des maisons individualisées au goût de notre clientèle constitue pour nous notre priorité. 
										Egalement, permettre aux africains de la diaspora de bénéficier d’un réseau 
										fiable pour réaliser leur projet immobilier constitue l’un de nos objectifs qui est 
										d’être le partenaire stratégique de toute 	personne désireuse de vivre chez lui.
										 </p>
									

										<p class="text-right"><strong>Mr Rodrigue BOKO</strong><br> 
											<i> Directeur Général Scimap Immobilier</i>
										</p>
										
									</div>
									
								</div>
								
								
							</section>

							<hr class="solid tall">

							<section id="history" class="mb-xlg">

								<h2 class="mb-none text-color-dark">Presentation</h2>
								<p >Filiale du GROUP SCIMAP HOLDING SA, 
									SCIMAP Immobilier, spécialiste de la construction individualisée conçoit chaque projet 
									sur mesure en pensant aux objectifs 
									attendus en termes de performance et 
									de conformité. En vous appuyant sur un 
									prestataire unique pour la gestion globale de votre projet clé en main, vous ne 
									détournez pas vos forces vives du cœur 
									de votre rêve de « vivre chez vous ».
									Depuis notre création, nous avons tissé un réseau de partenaires très spécialisés. Rompus à nos méthodes : 
									construire des maisons spécialisées et 
									individualisées. Ils partagent avec nous 
									la même philosophie «réactivité, écoute, 
									engagement, esthétique, éthique», 
									et savent s’intégrer rapidement à 
									l’équipe en place sans perte de temps</p>
					
						
								<div class="row">
									<div class="col-md-6">
										<h2 class="mb-none text-color-dark">Objectifs</h2>
										
<ul class="list list-icons list-primary  mt-xlg mb-xlg">
			<li><i class="fa fa-paper-plane"></i>Construire des résidences individualisées répondant à vos besoins,</li>
			<li><i class="fa fa-paper-plane"></i> Restructurer votre espace d’habitation après prise en compte de l’évolution de vos activités et de vos besoins 
de croissance</li>
			<li><i class="fa fa-paper-plane"></i>Pérenniser votre patrimoine immobilier ou moderniser un site par des travaux de réhabilitation</li>
			<li><i class="fa fa-paper-plane"></i>Gérer et réaliser les besoins d’habitats pour les groupes constitués (associations, mutuelles…)</li>
			
		</ul>
										
										</div>
										<div class="col-md-6">
											<h2 class="mb-none text-color-dark">Cibles</h2>
											<ul class="list list-icons list-primary  mt-xlg mb-xlg">
			<li><i class="fa fa-group"></i>Les fonctionnaires et agents de l’Etat,</li>
			<li><i class="fa fa-group"></i>Les opérateurs économiques,</li>
			<li><i class="fa fa-group"></i>Les travailleurs du secteur privé,</li>
			<li><i class="fa fa-group"></i>Les travailleurs du monde agricole,</li>

			<li><i class="fa fa-group"></i>Les travailleurs du secteur informel,</li>
			<li><i class="fa fa-group"></i>Les africains de la diaspora,</li>
			<li><i class="fa fa-group"></i>Les expatriés,</li>
			<li><i class="fa fa-group"></i>Etc.</li>
			
		</ul>

											
										</div>
								</div>
								
							</section>

							<hr class="solid tall">

							<section id="mission-vision" class="mb-xlg">
										<h2 class="mb-none text-color-dark">Nos Valeurs</h2>
								<div class="row mt-xl">
									<div class="col-sm-4 center">
										<div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
											<span class="featured-boxes featured-boxes-style-4 p-none m-none">
												<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
													<span class="box-content p-none m-none">
														<i class="icon-featured icon-target icons"></i>
													</span>
												</span>
											</span>	
											<div class="feature-box-info">
												<h2 class="mb-md text-color-dark">Créativité</h2>
												<p class="mb-lg text-justify">Nous abordons les problématiques de nos clients sous des 
																angles originaux. Nous travaillons en permanence sur différents concepts et solutions pour 
																initier un échange qui ouvre la 
																voie à des solutions innovantes.</p>
											</div>
										</div>
									</div>
									<div class="col-sm-4 center">
										<div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
											<span class="featured-boxes featured-boxes-style-4 p-none m-none">
												<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
													<span class="box-content p-none m-none">
														<i class="icon-featured icon-grid icons"></i>
													</span>
												</span>
											</span>	
											<div class="feature-box-info">
												<h2 class="mb-md text-color-dark">Esthétique</h2>
												<p class="mb-lg text-justify">Nous recherchons en permanence des solutions simples, efficaces  et  originales  afin  d’optimiser le bien-être de ceux qui 
												nous  font  confiance,  d’améliorer 
												les processus de production, de 
												dynamiser l’image de SCIMAP 
												Immobilier en répondant aux exigences esthétiques de nos clients.</p>
											</div>
										</div>
									</div>
									<div class="col-sm-4 center">
										<div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
											<span class="featured-boxes featured-boxes-style-4 p-none m-none">
												<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
													<span class="box-content p-none m-none">
														<i class="icon-featured icon-bulb icons"></i>
													</span>
												</span>
											</span>	
											<div class="feature-box-info">
												<h2 class="mb-md text-color-dark">Écoute</h2>
												<p class="mb-lg text-justify">Aucune entreprise ne ressemble 
															à une autre. Pour répondre aux 
															exigences de nos clients, nous 
															pratiquons l’écoute active : écouter, c’est observer en excluant 
															toute idée préconçue et toute tentative d’interprétation. Pour agir 
															avec  le  maximum  d’efficacité.</p>
											</div>
										</div>
									</div>
								</div>

								<div class="row mt-xl">
									<div class="col-sm-6 center">
										<div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
											<span class="featured-boxes featured-boxes-style-4 p-none m-none">
												<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
													<span class="box-content p-none m-none">
														<i class="icon-featured icon-star icons"></i>
													</span>
												</span>
											</span>	
											<div class="feature-box-info">
												<h2 class="mb-md text-color-dark">Éthique</h2>
												<p class="mb-lg text-justify">Nous nous appuyons sur des 
																compétences techniques, mais 
																aussi sur la conjugaison de valeurs fortes avec nos clients, fournisseurs, collaborateurs : motivation, transparence, franchise, 
																respect de la parole donnée.</p>
											</div>
										</div>
									</div>
									<div class="col-sm-6 center">
										<div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
											<span class="featured-boxes featured-boxes-style-4 p-none m-none">
												<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
													<span class="box-content p-none m-none">
														<i class="icon-featured icon-feed icons"></i>
													</span>
												</span>
											</span>	
											<div class="feature-box-info">
												<h2 class="mb-md text-color-dark">Engagement</h2>
												<p class="mb-lg text-justify">Lorsque nos clients nous confient 
																leur projet immobilier, nous travaillons  en  confiance  et  en  transparence et mettons tout en œuvre 
																pour mener à bien notre mission.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row mt-xl">
									<div class="col-sm-6 center">
										<div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
											<span class="featured-boxes featured-boxes-style-4 p-none m-none">
												<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
													<span class="box-content p-none m-none">
														<i class="icon-featured icon-umbrella icons"></i>
													</span>
												</span>
											</span>	
											<div class="feature-box-info">
												<h2 class="mb-md text-color-dark">Expérience</h2>
												<p class="mb-lg text-justify">Répondre aux besoins, chaque 
																fois uniques, de nos clients nous 
																confronte en permanence à de 
																nouveaux  défis.  De  cette  expérience, nous tirons une capacité à imaginer, avec rapidité  et  efficacité,  des  solutions 
																fiables,  pertinentes,  innovantes.</p>
											</div>
										</div>
									</div>
									<div class="col-sm-6 center">
										<div class="feature-box feature-box-style-4 mt-xl appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
											<span class="featured-boxes featured-boxes-style-4 p-none m-none">
												<span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
													<span class="box-content p-none m-none">
														<i class="icon-featured icon-energy icons"></i>
													</span>
												</span>
											</span>	
											<div class="feature-box-info">
												<h2 class="mb-md text-color-dark">Réactivité</h2>
												<p class="mb-lg text-justify">Nous sommes partenaires d’un 
																pool de spécialistes composé 
																d’architectes et d’ingénieurs seniors qui réagissent très rapidement aux évolutions des besoins 
																de nos clients et aux impératifs 
																de la réglementation par l’amélioration continue de nos méthodes.</p>
											</div>
										</div>
									</div>
								</div>
							</section>

							<hr class="solid tall">

							<section id="leadership" class="mb-xlg">
								<h2 class="mb-none text-color-dark">Notre equipe</h2>

								<div class="row mt-xlg">

									<div class="col-sm-6">
										<span class="thumb-info thumb-info-side-image thumb-info-no-zoom no-borders mb-xl">
											<span class="thumb-info-side-image-wrapper p-none">
												<img src="{{asset('img/team/team-h.png')}}" class="img-responsive" alt="" style="width: 160px;">
											</span>
											<span class="thumb-info-caption">
												<span class="thumb-info-caption-text">
													<h5 class="text-uppercase mb-xs">BOKO Rodrigue - <small class="font-weight-light">Directeur Général</small></h5>
													<p class="mb-none"></p>
												</span>
											</span>
										</span>

									</div>
									<div class="col-sm-6">
										<span class="thumb-info thumb-info-side-image thumb-info-no-zoom no-borders mb-xl">
											<span class="thumb-info-side-image-wrapper p-none">
												<img src="{{asset('img/team/team-f.png')}}" class="img-responsive" alt="" style="width: 160px;">
											</span>
											<span class="thumb-info-caption">
												<span class="thumb-info-caption-text">
													<h5 class="text-uppercase mb-xs">DIOMANDE Massiama - <small class="font-weight-light">Directrice Commerciale</small></h5>
													<p class="mb-none">.</p>
												</span>
											</span>
										</span>

									</div>

								</div>

							</section>

							<hr class="solid tall">

							<section id="partners" class="mb-xlg">
								<h2 class="mb-none text-color-dark">Partenaires</h2>

								<div class="row mt-lg">
									<div class="content-grid content-grid-dashed mt-xlg mb-lg">
										<div class="row content-grid-row">
											<div class="content-grid-item col-sm-4 center">
												<img class="img-responsive" src="{{asset('img/logos/logo-1.png')}}" alt="">
											</div>
											<div class="content-grid-item col-sm-4 center">
												<img class="img-responsive" src="{{asset('img/logos/logo-2.png')}}" alt="">
											</div>
											<div class="content-grid-item col-sm-4 center">
												<img class="img-responsive" src="{{asset('img/logos/logo-3.png')}}" alt="">
											</div>
										</div>
										<div class="row content-grid-row">
											<div class="content-grid-item col-sm-4 center">
												<img class="img-responsive" src="{{asset('img/logos/logo-4.png')}}" alt="">
											</div>
											<div class="content-grid-item col-sm-4 center">
												<img class="img-responsive" src="{{asset('img/logos/logo-5.png')}}" alt="">
											</div>
											<div class="content-grid-item col-sm-4 center">
												<img class="img-responsive" src="{{asset('img/logos/logo-6.png')}}" alt="">
											</div>
										</div>
									</div>
								</div>
							</section>

						</div>

					</div>

				</div>
{% endblock %}