 
<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<a href="index.html">
								<img alt="Porto" class="img-responsive logo" width="110" src="{{ asset('img/demos/construction/logo-construction-small.png')}}">
							</a>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6 mb-sm">
									<h4>Navigation</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<ul class="list list-footer-nav">
										<li>
											<a href="{{path('homepage')}}">
												Home
											</a>
										</li>
										<li>
											<a href="{{path('compagny')}}">
												Notre entreprise
											</a>
										</li>
										<li class="dropdown">
											<a class="dropdown-toggle" href="{{path('projet')}}">
												Services
											</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list list-footer-nav">
										<li>
											<a href="{{path('image')}}">
												Images
											</a>
										</li>
										<li>
											<a href="{{path('blog')}}">
												Blog
											</a>
										</li>
										<li>
											<a href="{{path('contact')}}">
												Contact
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							

							<h2><i class="fa fa-phone"></i> (225) 22 01 02 18 </h2>
							<h4><i class="fa fa-envelope "></i> <a href="mailto: mail@example.com">infos@scimapimmo.com</a></h4>

						</div>
					</div>

					<div class="footer-copyright">
						<div class="row">
							<div class="col-md-12 center">
								<p>© Copyright 2017 - <a href="http://www.jpzougou.pro"> jpzconception </a> - All Rights Reserved.</p>
							</div>
						</div>
					</div>

				</div>
			</footer>
